/* reset */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* typo */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* common */
.row {
    display: flex;
}

.h-row {
    height: calc(100vh - 100px);
}

a {
    text-decoration: none;
}

/* aside */
aside {
    width: 295px;
    background-color: #000000;
    overflow-y: auto;
}

.logo-aside {
    padding: 23px;
}

.logo-aside img {
    width: 130px;
}

.item-nav-aside img {
    height: 23px;
    vertical-align: middle;
}

.item-nav-aside a {
    color: #a3a3a3;
    display: block;
    padding: 5px 20px;
}

.item-nav-aside a.active {
    border-left: 3px solid #adff2f;
}

.item-nav-aside a.idle {
    border-left: 3px solid #000000;
}

.name-nav-aside {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 10px;
}

.playlist-aside h4 {
    color: #a3a3a3;
}

.playlist-aside {
    padding: 20px;
}

.add-playlist a {
    color: #a3a3a3;
}

.add-playlist {
    margin: 10px 0px 15px 0px;
}

.symbol-add {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #a3a3a3;
    text-align: center;
    color: #000000;
}

.name-add {
    display: inline-block;
}

.list-playlist li {
    list-style: none;
    margin: 10px 0px;
}

.list-playlist li a {
    color: #a3a3a3;
}

/* main */
main {
    width: calc(100% - 295px);
    overflow-y: auto;
}

.nav-main {
    justify-content: center;
    margin-bottom: 20px;
}

.nav-main li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
}

/* header */
header {
    height: 60px;
    background-color: #141922;
    opacity: 0.8;
    position: fixed;
    right: 0px;
    width: calc(100% - 295px);
    align-items: center;
    justify-content: flex-end;
}

a.btn{
    font-size: 12px;
    color: white;
    border: 1px solid white;
    padding: 8px 25px;
    margin-right: 30px;
    border-radius: 15px;
    background: #000000;
}

/* main main */
.main {
    background-color: #141922;
    padding: 75px 15px 15px 15px;
    color: gray;
}

/* footer */
footer {
    height: 100px;
    background-color: #a3a3a3;
    position: fixed;
    width: 100%;
    bottom: 0px;
}