/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Common */
body {
    font-family: Arial, Helvetica, sans-serif
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Aside */
aside {
    width: 300px;
    height: 80vh;
    background-color: black;
}

.logo-aside {
    padding: 10px 15px;
}

.logo-aside img {
    width: 200px;
}

.item-nav-aside img {
    height: 25px;
    vertical-align: middle;
}
/* 
.nav-aside {
    margin-bottom: 10px;
} */

.item-nav-aside a {
    color: #d2d2d2;
    display: block;
    padding: 5px 15px;
}

.name-nav-aside {
    display: inline-block;
    vertical-align: middle;
}

.item-nav-aside.inactive{
    border-left: 3px solid black;
}

.item-nav-aside.active {
    border-left: 3px solid #adff2f;
}

.add-playlist-aside a{
    color: #d2d2d2;
}

.add-playlist-aside {
    margin: 10px 0px;
}

.playlist-aside {
    margin: 15px 15px;    
}

.symbol-add {
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
    background-color: #d2d2d2;
}

.add-playlist-aside .symbol-add,
.add-playlist-aside .name-add {
    display: inline-block;
}

.playlist-aside h4 {
    color: #d2d2d2;
}


.list-add li{
    color: #d2d2d2;
    list-style: none;
    margin: 10px 0px;
}

/* Main */
main {
    width: calc(100% - 300px);
    background-color: green;
}