/* reset */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* typo */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* common */
.row {
    display: flex;
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
    padding-top: 15px;
    padding-right: 15px;
    text-align: center;
}

.col-12 {
    flex-basis: 100%;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.container {
    height: calc(100vh - 100px);
}

.column {
    flex-direction: column;
}


.position-relative {
    position: relative;
}

.align-items-center {
    align-items: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

a {
    text-decoration: none;
}

/* aside */
aside {
    width: 250px;
    background-color: #000000;
    color: #a3a3a3;
}

aside .bottom {
    padding: 15px;
}

.logo-smartphone {
    display: none;
}

.logo-aside {
    padding: 15px;
}

.logo-desktop {
    width: 130px;
}

.nav-aside img {
    height: 25px;
    vertical-align: middle;
}

.nav-aside {
    list-style: none;
    width: 100%;
}

.nav-aside a {
    color: #a3a3a3;
    display: block;
    padding: 2px 15px;
    font-size: 15px;
}

.nav-aside a:hover {
    color: white;
}

.nav-aside a.active {
    border-left: 3px solid #adff2f;
}

.nav-aside a.idle {
    border-left: 3px solid #000000;
}

.name-nav-aside {
    display: inline-block;
    vertical-align: middle;
}

.list-playlist {
    height: 20vh;
    overflow-y: auto;
    font-size: 15px;
}

.playlist-aside {
    padding: 15px;
}

.add-playlist a{
    color: #a3a3a3;
}


.add-playlist {
    margin: 8px 0px;
}

.symbol-add {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    background-color: #a3a3a3;
    text-align: center;
    color: #000000;
    vertical-align: middle;
}
.add-playlist a .name-add:hover{
    color: white;
    text-decoration: underline;
}

.add-playlist a:hover .symbol-add {
    background-color: white;
}

.name-add {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

.list-playlist li {
    list-style: none;
    margin-top: 8px;
}

.playlist-aside h4 {
    color: white;
}

.list-playlist li a {
    color: #a3a3a3;
}

.download img {
    width: 15px;
    vertical-align: middle;
}

.profile img {
    vertical-align: middle;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
}

.download {
    padding: 0px 0px 5px 5px;
    border-bottom: 1px solid #a3a3a3;
}

.name-download {
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    color: #a3a3a3;
}

.profile {
    padding: 5px 0px 0px 5px;
}

.profile h4 {
    vertical-align: middle;
    display: inline-block;
    color: white;
}

/* header */
header {
    height: 60px;
    background-color: #141922;
    opacity: 0.8;
    position: fixed;
    right: 0px;
    width: calc(100% - 250px);
    align-items: center;
    justify-content: flex-end;
}

a.upgrade{
    font-size: 12px;
    color: white;
    border: 1px solid white;
    padding: 8px 25px;
    margin-right: 30px;
    border-radius: 15px;
    background: #000000;
}

/* main */
main {
    width: calc(100% - 250px);
    overflow-y: auto;
}

/* primary */
.primary {
    background-color: #141922;
    padding: 75px 15px 15px 15px;
    color: #a3a3a3;
}

.nav-main {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.nav-main li {
    list-style: none;
    display: inline-block;
    margin: 10px 5px;
    font-size: 14px;
}

.nav-main li a {
    color: #a3a3a3;
}

.nav-main li a:active {
    color: white;
}

.nav-main li a:hover,
.nav-main li a:focus {
    color: white;
}

.nav-main a.active::after{
    content: "___";
    font-weight: bold;
    font-size: 20px;
    color: #adff2f;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
}

a.upgrade:hover {
   transform: scale(1.1);
}


.recenti,
.consigliati,
.popolari {
    margin-bottom: 25px;
}

.recenti img,
.consigliati img,
.popolari img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.album-img {
    position: relative;
}



.overlay {
    visibility: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popolari .overlay {
    border-radius: 50%;
}

.album-img:hover .overlay {
    visibility: visible;
}

.popolari img {
    border-radius: 50%;
    overflow-y: hidden;
}

.subtitle {
    margin-top: 5px;
    font-size: 15px;
}

.title {
    margin-top: 5px;
    color: white;
}

/* footer */
footer {
    height: 100px;
    background-color: #282828;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 0px 15px;
    color: #a3a3a3;
}

.bar {
    width: 250px;
    height: 7px;
    background-color: #a3a3a3;
    border-radius: 50px;
    overflow: hidden;
    margin: 0px 10px;
}

.bar-time {
    position: relative;
    background-color: #adff2f;
    width: 50px;
    height: 7px;
    overflow: hidden;
    transition: 2s;
}

.bar-time::after {
    position: absolute;
    right: 0px;
    content: "";
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: white;
}

.bar:hover .bar-time {
    width: 70%;
}

.time {
    font-size: 13px;
    color: white;
}

.buttons {
    text-align: center;
}

.music {
    width: 100px;
    height: 3px;
    background-color: #a3a3a3;
    border-radius: 50px;
}

.brano img {
    width: 50px;
    margin-right: 10px;
}

.brano {
    margin-right: 20px;
}

.name-brano h4{
    color: white;
}

.artist {
    font-size: 12px;
}

.aggiungi-preferiti i {
    margin-right: 5px;
}

.buttons {
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.buttons i {
    margin: 0px 5px;
    vertical-align: middle;
}

.buttons i:first-child,
.buttons i:last-child {
    font-size: 15px;
}

.buttons i:nth-child(3) {
    font-size: 30px;
}

.right-footer i,
.right-footer .progress-music {
    margin-left: 10px;
}

.right-footer i  {
    font-size: 14px;
}